---
import { getCollection, CollectionEntry } from "astro:content";
// import { ROUTES } from "../../consts";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");

  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: {
        project,
      },
    };
  });
}

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <main class="flex flex-col items-center">
    <!-- <a class="text-blue-500 underline" href={ROUTES.blog}>Blog</a> -->
    <article class="prose prose-slate">
      <Content />
    </article>
  </main>
</Layout>
